@media screen and (min-width: 480px) {
 body {
  background-color:black ;
 color: #FFF0F5	;
 margin: 0 auto;
 width: 720px;
 box-sizing: border-box;

}
}
img {
  border-radius: 100% ;
opacity:0.9;
  margin-left: 20spx;
  width : 600px;

}
 .trial{
   background-image:url("/home/moringa/Desktop/Assignments/landing-page/images/screens.jpg");
   background-position: center ,center;
   background-size: contain;
   width: 100%;
   heigh:200%;
  background-repeat: no-repeat;

 }
p{
  font-family:"roboto";
}

.bruh{ color: #FFF5EE;
   font-family: 'Akronims'
   text-decoration: none;
   border: 3px dotted #FFF0F5;

 }
h1, h2 {
  font-family:"oswald";
  text-align:center;
}
#lists {
  width: 70%;
    margin:0 auto;
}
.altogether{display: flex;}
.bruh :hover{
  background-color: brown;
    transition:.5s;
    cursor:pointer;
}
* {
  box-sizing: border-box;
}
.column {
  width : 300px;
}

.hobbies{float: right;}
