body {
  background-color:black ;
 color: #FFF0F5	;
 margin: 0 auto;
 width: 720px;
 box-sizing: border-box;

}
img {
  border-radius: 100% ;

  margin-left: 75px;


}
p{
  font-family:"roboto";
}
h1, h2 {
  font-family:"oswald";
  text-align:center;
}
#lists {
  width: 70%;
    margin: auto;
}
